.App {
  text-align: center;
  width: 100%;
  max-width: 80%;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px 20px;
  border: 1px solid black;
}

.cart-btn {
  background: rgb(26, 119, 26);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.cart-table {
  margin-top: 40px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
